/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html{
  font-size:62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  font-family: sans-serif;
  padding: 1rem;
}

body *{
  text-align: center;
}

h1.title {
  font-size: 3rem;
  margin: 2rem .5rem;
  width: 100%;
}


.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 270.75px !important;
  margin: 2rem auto;
  box-shadow: 1px 1px 10px gray;
}

.cell{
  display: inline-block;
  min-width:0;
  flex:1 0 90px;
  height: 90px;
  border: .25px solid gray;
  font-size: 5rem;
  font-weight: 800;
  background: white;
}

.cell:hover{
  box-shadow: 1.5px 1.5px 5px;
}

.cell[disabled]{
  color: black;
}

.result{
  font-size: 3rem;
}

.reset{
  padding: 1rem 2rem;
  border-radius: 5px;
  background: white;
  box-shadow: 2px 2px black;
  color: black;
}

.reset:hover{
  box-shadow: 1px 1px 5px;
  color: rgb(33, 33, 33);
  border: none;
}

.result *{
  margin: 1rem;
}

.result-msg{
  font-size: 2.5rem;
}

@media all and (max-width:500px){
  .board{
    width:90% !important;
  }
  .cell{
    flex: 0 0 33.33%;
    height: 90px;
  }
}